
#Visual Studio
/projects/visualstudio/*.VC.db
/projects/visualstudio/*.opendb
/projects/visualstudio/*.sdf
/projects/visualstudio/.vs
/projects/visualstudio/build
/projects/visualstudio/bin

#Xcode
.DS_Store
/projects/xcode/*.xcodeproj/*.xcworkspace
/projects/xcode/*.xcodeproj/xcuserdata
/projects/xcode/*.xcworkspace/xcshareddata
/projects/xcode/*.xcworkspace/xcuserdata
/projects/xcode/Build
/projects/xcode/DerivedData

#CodeLite
/projects/codelite/.*
/projects/codelite/Debug
/projects/codelite/Release
/projects/codelite/Makefile
/projects/codelite/*.txt
/projects/codelite/*.mk

