
#Visual Studio
/projects/visualstudio/*.VC.db
/projects/visualstudio/*.opendb
/projects/visualstudio/*.sdf
/projects/visualstudio/*.user
/projects/visualstudio/.vs
/projects/visualstudio/build
/projects/visualstudio/bin

#Xcode
.DS_Store
/projects/xcode/*.xcodeproj/*.xcworkspace
/projects/xcode/*.xcodeproj/xcuserdata
/projects/xcode/Build
/projects/xcode/DerivedData
