<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>portrait</key>
	<dict>
		<key>layoutRules</key>
		<dict>
			<key>LAYOUTRULE_LEFT</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_TOP</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_RIGHT</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_BOTTOM</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
		</dict>
	</dict>
	<key>overlay</key>
	<dict>
		<key>layoutRules</key>
		<dict>
			<key>LAYOUTRULE_LEFT</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_TOP</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_RIGHT</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_BOTTOM</key>
			<dict>
				<key>value</key>
				<real>0</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
		</dict>
	</dict>
	<key>namebox</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>layoutRules</key>
		<dict>
			<key>LAYOUTRULE_LEFT</key>
			<dict>
				<key>value</key>
				<real>0.320</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_TOP</key>
			<dict>
				<key>value</key>
				<real>0.870</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_RIGHT</key>
			<dict>
				<key>value</key>
				<real>0.090</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
			<key>LAYOUTRULE_BOTTOM</key>
			<dict>
				<key>value</key>
				<real>0.019</real>
				<key>valueType</key>
				<string>LAYOUTVALUE_RATIO</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
