<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label_layoutRules</key>
	<dict>
		<key>LAYOUTRULE_LEFT</key>
		<dict>
			<key>value</key>
			<real>0.050</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_TOP</key>
		<dict>
			<key>value</key>
			<real>0.050</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_RIGHT</key>
		<dict>
			<key>value</key>
			<real>0.575</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_BOTTOM</key>
		<dict>
			<key>value</key>
			<real>0.950</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
	</dict>
	<key>label_color</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>value_label_layoutRules</key>
	<dict>
		<key>LAYOUTRULE_LEFT</key>
		<dict>
			<key>value</key>
			<real>0.650</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_TOP</key>
		<dict>
			<key>value</key>
			<real>0.050</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_RIGHT</key>
		<dict>
			<key>value</key>
			<real>0.900</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_BOTTOM</key>
		<dict>
			<key>value</key>
			<real>0.950</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
	</dict>
	<key>value_label_color</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>arrow_less_layoutRules</key>
	<dict>
		<key>LAYOUTRULE_LEFT</key>
		<dict>
			<key>value</key>
			<real>0.600</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_TOP</key>
		<dict>
			<key>value</key>
			<real>0.050</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_RIGHT</key>
		<dict>
			<key>value</key>
			<real>0.650</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_BOTTOM</key>
		<dict>
			<key>value</key>
			<real>0.950</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
	</dict>
	<key>arrow_less_dir</key>
	<string>left</string>
	<key>arrow_more_bounds</key>
	<dict>
		<key>LAYOUTRULE_LEFT</key>
		<dict>
			<key>value</key>
			<real>0.900</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_TOP</key>
		<dict>
			<key>value</key>
			<real>0.050</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_RIGHT</key>
		<dict>
			<key>value</key>
			<real>0.950</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
		<key>LAYOUTRULE_BOTTOM</key>
		<dict>
			<key>value</key>
			<real>0.950</real>
			<key>valueType</key>
			<string>LAYOUTVALUE_RATIO</string>
		</dict>
	</dict>
	<key>arrow_more_dir</key>
	<string>right</string>
</dict>
</plist>
