<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label_bounds</key>
	<dict>
		<key>left</key>
		<real>0.050</real>
		<key>top</key>
		<real>0.050</real>
		<key>right</key>
		<real>0.575</real>
		<key>bottom</key>
		<real>0.950</real>
	</dict>
	<key>label_color</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>value_label_bounds</key>
	<dict>
		<key>left</key>
		<real>0.650</real>
		<key>top</key>
		<real>0.050</real>
		<key>right</key>
		<real>0.900</real>
		<key>bottom</key>
		<real>0.950</real>
	</dict>
	<key>value_label_color</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>arrow_less_bounds</key>
	<dict>
		<key>left</key>
		<real>0.600</real>
		<key>top</key>
		<real>0.050</real>
		<key>right</key>
		<real>0.650</real>
		<key>bottom</key>
		<real>0.950</real>
	</dict>
	<key>arrow_less_dir</key>
	<string>left</string>
	<key>arrow_more_bounds</key>
	<dict>
		<key>left</key>
		<real>0.900</real>
		<key>top</key>
		<real>0.050</real>
		<key>right</key>
		<real>0.950</real>
		<key>bottom</key>
		<real>0.950</real>
	</dict>
	<key>arrow_more_dir</key>
	<string>right</string>
</dict>
</plist>
