<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>brokenphysics.sonic</string>
	<key>name</key>
	<string>Sonic</string>
	<key>creator</key>
	<string>Broken Physics</string>
	<key>version</key>
	<string>1.0</string>
	<key>minsmashversion</key>
	<string>1.0</string>
</dict>
</plist>
